<div id="fh5co-team" data-section="team"  class="js-fullheight">
  {{ range (where .Site.RegularPages "Section" "team") }}
  <div class="mdl-grid">
      <div class="mdl-layout-spacer"></div>
      <div class="mdl-cell mdl-cell--3-col mdl-cell--middle" style="min-height: 400px;">
        <div class="circular-image" style="background-image: url('{{ .Params.image }}')"></div>
      </div>
      <div class="mdl-cell mdl-cell--6-col mdl-cell--middle" style="min-height: 400px;">



            <h2>{{ .Params.title }}</h2>
            {{with .Params.subtitle}}<h3>{{ . }}</h3>{{ end }}
            {{ .Content }}




    </div>
    <div class="mdl-layout-spacer"></div>

</div>
  {{ end }}
