body, html {
    height: 100%;
    margin: 0;
}


div.parallax {
  position: relative;
  height: 100%;


}

.mdl-layout {
  height: auto;
}

.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}
